.freccia {
    position: fixed;
    top: 80px;
    left: 80px;
    padding: 30px;
    background-color: red;
    font-size: 3em;
    color: white;
    font-family: Arial;
}

.lista {
   margin-left: 240px;
}
.lista ul {
   list-style-type: none;
}
.lista li {
  font-family: Arial;
  text-transform: uppercase;
  font-size: 5em;
  font-weight: bold;
  letter-spacing: 2px;
  align: center;
  /*line-height: 6em;*/
 }
